* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    background-color: #222831;
    font-family: 'Poppins','Oswald', sans-serif;
    margin: 0;
}

#main {
    height: 132px;
    width: 100%;
    
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
    box-sizing: border-box;
}

#name {
    color: black;
}

.h1 {
    font-size: 39px;
    font-family: 'Oswald';
    margin: 0;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
}

.pill-nav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    color: white;
}

.pill-nav a:hover {
    background-color: #222831;
    color: #ddd;
}

.pill-nav a.active {
    background-color: dodgerblue;
    color: white;
}
.line{
    border: 0.50px solid #a9a9a9;; 
    width: 100%;
}

.body{
    height: 700px;
    width: 100%;

}

.body_container{
    height: 600px;
    width: 50%;
   background-color: black;

}
.body_container_h1{
    font-family: 'Poppins';
    padding-top: 160px;
    font-weight: 900;
    color: white;
    font-size: 3.5rem;
    text-align: center;

}
.body_container_h2{
    padding-left: 63px;
    color: #00ADB5;
    font-family: 'Poppins';

}
.body_container_p{
    color: #ddd;
    text-align: center;
}
.buttons {
    margin-top: 20px;
    padding-left: 342px;
    margin-top: 35px;
}

  
  .btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s ease;
  }
  
  .primary {
    background-color: #00adb5;
    color: white;
    margin-right: 15px;
  }
  
  .primary:hover {
    background-color: #019ca3;
  }
  
  .secondary {
    background-color: #393e46;
    color: white;
  }
  
  .secondary:hover {
    background-color: #2d3138;
  }